<h1>Welcome To Word Puzzle</h1>
<form action="/show_puzzle">
  <div class="form-group">
    <label>Enter a Phrase:</label><br>
    <input id="phrase_to_puzzle" type="text" class="form-control" name="phrase_to_puzzle">
  </div>
  <br><button type="submit" class="btn-success">Lets Play</button>
</form>
